<script setup lang="ts">
import '@unocss/reset/sanitize/sanitize.css';
import { onMounted } from 'vue';
import FunCircles from './FunCircles.vue';
import FunLines from './FunLines.vue';
import FunBorder from './FunBorder.vue';
import Contact from './Contact.vue';

onMounted(async () => {
  const resume = await fetch('/resume.json').then(res => res.json());
  console.log('Here is my resume in JSON format if you prefer that', resume);
})
</script>

<template>
  <section class="relative flex flex-col gap-2 justify-center items-center bg-primary">
    <FunCircles />
    <div class="w-70">
      <h1 class="font-sans text-body">Hello,<br>I'm Jamie Spittal</h1>
      <h2 class="font-sans text-body mt-0">Lead DevOps Developer</h2>
      <Contact />
    </div>
    <img class="absolute bottom-0 w-50 right-5 md:w-80 lg:w-100" src="/jamie.webp" alt="A photo of Jamie Spittal">
  </section>
  <section class="relative smaller flex flex-col gap-2 justify-center items-center bg-secondary">
    <div class="w-96 p-8 relative">
      <FunLines />
      <p class="relative font-sans font-bold">I've been working as a professional software developer for over ten years.
        During which I've been the Lead Developer at <a class="text-body" href="https://skyrocket.is" rel="noopener" target="_blank">Skyrocket</a>,
        the Lead Front-End Developer at <a class="text-body" href="https://springboardVR.com" rel="noopener" target="_blank">SpringboardVR</a>,
        a contract Full-Stack Developer,
        and I'm currently the Lead DevOps Developer at <a class="text-body" href="https://arborxr.com" rel="noopener" target="_blank">ArborXR</a>.
      </p>
      <Contact class="justify-center" />
    </div>
  </section>
  <section class="relative smaller flex gap-2 justify-center items-center bg-primary">
    <FunBorder />
    <div class="w-96 py-8 relative lg:px-8 lg:w-160 lg:grid lg:grid-cols-2 gap-6">
      <div>
        <div class="icons flex gap-2 justify-center">
          <div class="w-6 h-6 i-ph-play-circle" />
          <div class="w-6 h-6 i-ph-play-circle" />
          <div class="w-6 h-6 i-ph-play-circle" />
        </div>
        <p class="relative font-sans font-medium">
          While at ArborXR I've delivered an exceptional internal development platform for our PHP, VueJS, and C# developers.
          For example our developers can deploy and manage production workloads as well as boot up their own isolated ephemeral review applications across clouds using Gitlab CI, all while staying within our strict compliance framework.
        </p>
      </div>

      <div>
        <div class="icons flex gap-2 justify-center">
          <div class="w-6 h-6 i-ph-boat" />
          <div class="w-6 h-6 i-ph-boat" />
          <div class="w-6 h-6 i-ph-boat" />
        </div>
        <p class="relative font-sans font-medium">
          My core competency is Kubernetes, and the well known open-source ecosystem that has grown around it.
          I have particular expertise with Istio, Cilium, Open Telemetry, Prometheus, Jaegar, Fluentd/Fluentbit, Grafana (including Tempo, Loki, Mimir), Pulumi, and Terraform.
        </p>
      </div>

      <div>
        <div class="icons flex gap-2 justify-center">
          <div class="w-6 h-6 i-ph-cloud" />
          <div class="w-6 h-6 i-ph-cloud" />
          <div class="w-6 h-6 i-ph-cloud" />
        </div>
        <p class="relative font-sans font-medium">
          I have a fondness for Google Cloud Platform, but I have had to do multi-cloud deployments to AWS and Azure so I know my way around those as well. I avoid on-prem when possible.
        </p>
      </div>

      <div>
        <div class="icons flex gap-2 justify-center">
          <div class="w-6 h-6 i-ph-lock" />
          <div class="w-6 h-6 i-ph-lock" />
          <div class="w-6 h-6 i-ph-lock" />
        </div>
        <p class="relative font-sans font-medium">
          I'm comfortable, familiar, and know how to manage smooth development workflows within a highly secure ISO 27001, SOC2, and GDPR compliant environment.
        </p>
      </div>
    </div>
  </section>
  <section class="relative smaller flex flex-col gap-2 justify-center items-center bg-secondary">
    <div class="w-96 p-8 relative">
      <FunLines class="mirror" />
      <p class="relative font-sans font-bold">
        I live in Vancouver BC Canada where when I'm not working I am
        <a class="text-body" href="https://prompt.bandcamp.com/" rel="noopener" target="_blank">a musician</a>,
        <a class="text-body" href="https://www.imdb.com/name/nm4749393/" rel="noopener" target="_blank">a sound recordist for film</a>,
        an Ultimate Frisbee player,
        a baker,
        and a cat-enthusiast.
      </p>
      <p class="relative font-sans font-bold">
        I love being creative in any way that I can, and I see software development as an extension of that.
      </p>
      <Contact class="justify-center"/>
    </div>
  </section>
</template>

<style scoped lang="postcss">
section {
  min-height: 90vh;
  padding: 30px 0;
  &.smaller {
    min-height: 45rem;
  }
}

.mirror {
  transform: rotateX(180deg);
}
</style>
