<template>
  <div class="icons flex gap-2">
    <a class="i-ph-envelope text-body w-6 h-6" href="mailto:jamie@jamiespittal.com" rel="noopener" target="_blank" />
    <a class="i-ph-gitlab-logo text-body w-6 h-6" href="https://gitlab.com/Spittal" rel="noopener" target="_blank" />
    <a class="i-ph-github-logo text-body w-6 h-6" href="https://github.com/Spittal" rel="noopener" target="_blank" />
    <a class="i-ph-linkedin-logo text-body w-6 h-6" href="https://www.linkedin.com/in/jamiespittal/" rel="noopener" target="_blank" />
  </div>
</template>
