<script setup lang="ts">
import { ref, onMounted } from 'vue';
import type { Ref } from 'vue';

const swoops = ref<HTMLCanvasElement>();

function paintLines (ctx: CanvasRenderingContext2D, width: number, height: number) {
  const createTopDiagonal = (offset: number, lineWidth: number) => {
    ctx.beginPath();
    ctx.moveTo(width - offset, 0);
    ctx.lineTo(0, offset);
    ctx.lineWidth = lineWidth;
    ctx.strokeStyle = getComputedStyle(document.body).getPropertyValue('--white') || '#FFFFFF';
    ctx.stroke();
  }

  createTopDiagonal(25, 1);
  createTopDiagonal(50, 1.25);
  createTopDiagonal(75, 1.5);
  createTopDiagonal(100, 1.75);
  createTopDiagonal(125, 2);
  createTopDiagonal(150, 2.25);
  createTopDiagonal(175, 2.5);

  const createBottomDiagonal = (offset: number, lineWidth: number) => {
    ctx.beginPath();
    ctx.moveTo(offset, height + 15);
    ctx.lineTo(width + 15, height - offset);
    ctx.lineWidth = lineWidth;
    ctx.strokeStyle = getComputedStyle(document.body).getPropertyValue('--white') || '#FFFFFF';
    ctx.stroke();
  }

  createBottomDiagonal(25, 1);
  createBottomDiagonal(50, 1.25);
  createBottomDiagonal(75, 1.5);
  createBottomDiagonal(100, 1.75);
  createBottomDiagonal(125, 2);
  createBottomDiagonal(150, 2.25);
  createBottomDiagonal(175, 2.5);
}

function draw () {
  if (swoops.value) {
    const canvas = swoops as Ref<HTMLCanvasElement>;
    canvas.value.width = canvas.value.parentElement?.clientWidth!;
    canvas.value.height = canvas.value.parentElement?.clientHeight!;
    const context = canvas.value.getContext('2d');

    if (context) paintLines(context, canvas.value.width, canvas.value.height);
  }

  window.requestAnimationFrame(() => {
    draw();
  });
}

onMounted(() => {
  draw();
})
</script>

<template>
  <canvas class="absolute top-0 left-0 opacity-80" ref="swoops"></canvas>
</template>

<style scoped>

</style>

