<script setup lang="ts">
import { ref, onMounted } from 'vue';
import type { Ref } from 'vue';

const swoops = ref<HTMLCanvasElement>();
const start = new Date().getTime() - 10000;

function getRandomIntBetween (min: number, max: number) {
  return Math.floor(Math.random() * (max - min) + min);
}
const intervals = Array.from({ length: 100 }, () => getRandomIntBetween(10000, 60000));

function easeInOutCubic (x: number): number {
  return x < 0.5 ? 4 * x * x * x : 1 - Math.pow(-2 * x + 2, 3) / 2;
}

function getPercent (index: number) {
  const duration = new Date().getTime() - start;
  const loopingTime = intervals[index];
  const time = duration % loopingTime;

  const forward = time < (loopingTime / 2);

  // Get the percent through half the interval.
  const through = ((forward) ? time : loopingTime - time) / (loopingTime / 2);

  return easeInOutCubic(through);
}

function paintLines (ctx: CanvasRenderingContext2D, width: number, height: number) {
  let index = 0;
  const between = (min: number, max: number) => {
    const percent = getPercent(index);
    index++;
    return min + ((max - min) * percent);
  };

  const circleMedian = 200;
  const halfWidth = width / 2;
  const halfHeight = height / 2;

  const createCircle = (intensity = 1.1) => {
    ctx.beginPath();
    ctx.lineWidth = between(1,2);
    ctx.strokeStyle = getComputedStyle(document.body).getPropertyValue('--white') || '#FFFFFF';
    ctx.ellipse(
      between(halfWidth - 5, halfWidth + 5),
      between(halfHeight - 5, halfHeight + 5),
      between(circleMedian / intensity, circleMedian * intensity),
      between(circleMedian / intensity, circleMedian * intensity),
      between(0, 1.5),
      0,
      2 * Math.PI
    );
    ctx.stroke();
  };

  createCircle();
  createCircle();
  createCircle();
  createCircle();

  const createDiagonal = (offset: number, lineWidth: number) => {
    ctx.beginPath();
    ctx.moveTo(width - offset, height + 15);
    ctx.lineTo(width + 15, height - offset);
    ctx.lineWidth = lineWidth;
    ctx.strokeStyle = getComputedStyle(document.body).getPropertyValue('--white') || '#FFFFFF';
    ctx.stroke();
  }

  createDiagonal(25, 1);
  createDiagonal(50, 1.5);
  createDiagonal(75, 2);
  createDiagonal(100, 2.5);
  createDiagonal(125, 3);
  createDiagonal(150, 3.5);
  createDiagonal(175, 4);
}

function draw () {
  if (swoops.value) {
    const canvas = swoops as Ref<HTMLCanvasElement>;
    canvas.value.width = canvas.value.parentElement?.clientWidth!;
    canvas.value.height = canvas.value.parentElement?.clientHeight!;
    const context = canvas.value.getContext('2d');

    if (context) paintLines(context, canvas.value.width, canvas.value.height);
  }

  window.requestAnimationFrame(() => {
    draw();
  });
}

onMounted(() => {
  window.requestAnimationFrame(() => {
    draw();
  });
})
</script>

<template>
  <canvas class="absolute top-0 left-0" ref="swoops"></canvas>
</template>

<style scoped>

</style>

