<script setup lang="ts">
import { ref, onMounted } from 'vue';
import type { Ref } from 'vue';

const lineAmount = 200;
const swoops = ref<HTMLCanvasElement>();
const start = new Date().getTime() - 5000;
function getRandomIntBetween (min: number, max: number) {
  return Math.floor(Math.random() * (max - min) + min);
}
const intervals = Array.from({ length: lineAmount }, () => getRandomIntBetween(10000, 60000));

function easeInOutCubic (x: number): number {
  return x < 0.5 ? 4 * x * x * x : 1 - Math.pow(-2 * x + 2, 3) / 2;
}

function getPercent (index: number) {
  const duration = new Date().getTime() - start;
  const loopingTime = intervals[index];
  const time = duration % loopingTime;

  const forward = time < (loopingTime / 2);

  // Get the percent through half the interval.
  const through = ((forward) ? time : loopingTime - time) / (loopingTime / 2);

  return easeInOutCubic(through);
}

function paintLines (ctx: CanvasRenderingContext2D, width: number, height: number) {
  const createLine = (lineNumber = 0, index = 0, curveIntensity = 0.2) => {
    ctx.beginPath();
    ctx.lineWidth = 1;
    ctx.strokeStyle = getComputedStyle(document.body).getPropertyValue('--white') || '#FFFFFF';
    const spacing = lineNumber * 10;
    const controlNumber = (15 * getPercent(index));

    ctx.moveTo(spacing, height);
    ctx.bezierCurveTo(
      spacing + controlNumber,
      height * (1 - curveIntensity),
      width + spacing - controlNumber,
      height * curveIntensity,
      width + spacing,
      0,
    ),
    ctx.stroke();
  };

  Array.from(Array(lineAmount).keys()).forEach((element, index, list) => {
    createLine(element - (list.length / 2), index);
  })
}

function draw () {
  if (swoops.value) {
    const canvas = swoops as Ref<HTMLCanvasElement>;
    canvas.value.width = canvas.value.parentElement?.clientWidth!;
    canvas.value.height = canvas.value.parentElement?.clientHeight!;
    const context = canvas.value.getContext('2d');

    if (context) paintLines(context, canvas.value.width, canvas.value.height);
  }

  window.requestAnimationFrame(() => {
    draw();
  });
}

onMounted(() => {
  window.requestAnimationFrame(() => {
    draw();
  });
})
</script>

<template>
  <canvas class="absolute top-0 left-0 opacity-80" ref="swoops"></canvas>
</template>

<style scoped>

</style>

